.UserProducts_product-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #ccc;
  margin: 10px;
}

.UserProducts_product-image {
  height: 10vw;
  object-fit: cover;
}

.UserProducts_product-details {
  padding: 10px;
}

.UserProducts_product-title {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.UserProducts_product-excerpt {
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}